$formW: 120px;
$formH: 600px;

$copyThreeWrapperWidth: 155px;
$fontSize: 16px;
$ctaTop: 200px;
$logoBigMartintop: 467px;
$copyThreeTop: 521px;

$copyOneWrapperWidth: 100%;
$copyTwoWrapperWidth: 100%;