$formW: 160px;
$formH: 600px;

$copyThreeWrapperWidth: 209px;
$fontSize: 21px;
$ctaTop: 200px;
$logoBigMartintop: 467px;
$copyThreeTop: 521px;

$copyOneWrapperWidth: 100%;
$copyTwoWrapperWidth: 100%;