$formW: 300px;
$formH: 600px;

$copyThreeWrapperWidth: 400px;
$fontSize: 21px;

$ctaTop: 300px;
$logoBigMartintop: 467px;
$copyThreeTop: 521px;

$copyOneWrapperWidth: 94%;
$copyTwoWrapperWidth: 94%;
