$formW: 320px;
$formH: 480px;

$copyThreeWrapperWidth: 427px;
$fontSize: 21px;

$ctaTop: 200px;
$logoBigMartintop: 345px;
$copyThreeTop: 405px;

$copyOneWrapperWidth: 94%;
$copyTwoWrapperWidth: 94%;
