@import 'var';
@import 'button';
@import 'hamburger';

.spinner {
	display: none;
	margin: 100px auto;
	width: 40px;
	height: 40px;
	position: absolute;
	text-align: center;

	-webkit-animation: sk-rotate 2.0s infinite linear;
	animation: sk-rotate 2.0s infinite linear;
	top: 15%;
    left: 34%;
    margin-right: -50%;
}

.dot1, .dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: $primaire_color;
	border-radius: 100%;

	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
	top: auto;
	bottom: 0;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0); 
    -webkit-transform: scale(1.0);
  }
}

#banner {
	overflow: hidden;
	position: relative;
	width: $formW;
	height: $formH;

	#content {
		display: none;
		height: 100%;
	    width: 100%;

		#rollOverImg
		{
			background-image: url('background.png');
			width:100%;
			height:100%;
		    position: absolute;
		    top: 0;
		    left: 0;
		}

		#background
		{
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    left: 0;
			background-color: #31B4E7;
		}

		#skyline{
		    width: 100%;
		    height: 50px;
		    background-image: url(skyline.png);
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    background-size: 388px;
		    background-position: center;
		    background-repeat: no-repeat;
		}

		#copy1Wrapper
		{
		    z-index: 10;
		    position: absolute;
		    text-align: center;
		    top: 18px;
		    padding-left: 22px;
		    padding-right: 22px;
		    color: white;
		    font-size: 16px;
		    font-family: $patuaReg;
		    width: $copyOneW;
		}

		#copy2Wrapper
		{
			z-index: 10;
		    position: absolute;
			text-align:center;
		    padding-left: 22px;
		    padding-right: 22px;
			top:18px;
			color:white;
			font-size: 16px;
			font-family: $patuaReg;
			width: $copyTwoW;
		}

		#copy3Wrapper
		{
		    z-index: 10;
		    position: absolute;
		    text-align: center;
		    top: 110px;
		    color: white;
		    font-size: 17px;
		    text-transform: uppercase;
		    font-family: $sourceRegular;
		    padding-left: 5px;
		    padding-right: 5px;
		    letter-spacing: 1px;
		    width: $copyThreeW;
		}

		#copy3-1{
			margin-left:10px;
		}

		#copy3Wrapper span
		{
			margin-right: 7px;
		}

		#footer
		{
			width: 100%;
		    background-color: $primaire_color;
		    height: 63px;
		    position: absolute;
		    z-index: 11;
		    bottom: 0;
		}

		#logo
		{
		    background-image: url(logo.png);
		    position: absolute;
		    width: 70px;
		    height: 40px;
		    background-size: contain;
		    background-repeat: no-repeat;
		    top: 13px;
		    left: 15px;
		}

		#logoBig
		{
			background-image: url(logo.png);
		    width: 175px;
		    height: 90px;
		    background-size: contain;
		    background-repeat: no-repeat;
		    margin: 0 auto;
		    margin-top: 20px;
		}

		#footerCTA{
		    width: 100px;
		    max-height: 33px;
		    border: 0.5px solid white;
		    position: absolute;
		    right: 15px;
		    border-radius: 5px;
		    color: white;
		    text-align: center;
		    padding: 12px 1px 13px 1px;
		    top: 12px;
		    text-transform: uppercase;
		    font-family: $sourceBold;
			background-color: rgb(214, 51, 51);
		    font-size: 12px;
		}

		#footerCTA:hover{
			cursor:pointer;
		}

		#CTA{
		    width: 100px;
		    max-height: 20px;
		    border: 0.5px solid white;
		    position: absolute;
		    border-radius: 5px;
		    color: white;
		    text-align: center;
		    padding: 12px 1px 13px 1px;
		    top: 140px;
		    margin-left: auto;
		    margin-right: auto;
		    left: 0;
		    right: 0;
		    text-transform: uppercase;
		    font-family: $sourceBold;
		    font-size: 12px;
			z-index:12;
			background-color: rgb(214, 51, 51);
		}

		#CTA:hover{
			cursor:pointer;
		}

		#CTA .text{
		    position: relative;
		    top: 0px;
		}

		#gradient{
			height: 200px;
			position:absolute;
			width:100%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+30,000000+100&0.4+1,0+87 */
			background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 1%, rgba(0,0,0,0.27) 30%, rgba(0,0,0,0) 87%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.27) 30%,rgba(0,0,0,0) 87%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 1%,rgba(0,0,0,0.27) 30%,rgba(0,0,0,0) 87%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
			z-index:9;
		}
	}
}