$formW: 320px;
$formH: 100px;

//COPY1
$copy1_Fontsize : 13px;
$copy1_Top : -2.555px;
$copy1_Width : 23%;
$copy1_Left : 111.208px;

//COPY2
$copy2_Fontsize : 13px;
$copy2_Top : -0.555px;
$copy2_Width : 27%;
$copy2_Left : 111.208px;


//COPY3
$copy3_Fontsize:9px;
$copy3_Top:59.888px;
$copy3_Width : 23%;
$copy3_Left:7.5px;

//FOOTER
$footer_height:63px;
$footer_width:160px;

//CTA
$cta_width:85px;
$cta_height:33px;
$cta_font_size:12px;
$cta_top:33px;
$cta_right:10px;
$cta_Text_top:9px;

//BIG LOGO
$logo_width:72px;
$logo_height:46.666px;
$logo_margintop:24.11px;
$logo_left:11.428px;

//GRADIENT
$gradient_height:100%;
$gradient_width :40%;
$gradient_left:107px;

//BACKGROUND
$bg_width:107px;
$bg_height :100%;

//SKYLINE
$skyline_bgsize:219.780px;
$skyline_width:100%;
$skyline_height:111px;
$skyline_bottom:-45px;

//SKYLINE BG
$skylinebg_height:5.555px;