$formW: 320px;
$formH: 50px;

//COPY1
$copy1_Fontsize : 12px;
$copy1_Top : -2.555px;
$copy1_Width : 23%;
$copy1_Left : 111.208px;

//COPY2
$copy2_Fontsize : 9px;
$copy2_Top : -0.555px;
$copy2_Width : 27%;
$copy2_Left : 111.208px;


//COPY3
$copy3_Fontsize:5px;
$copy3_Top:31.666px;
$copy3_Width : 14%;
$copy3_Left:1.5px;

//FOOTER
$footer_height:63px;
$footer_width:160px;

//CTA
$cta_width:62px;
$cta_height:28px;
$cta_font_size:9px;
$cta_top:10px;
$cta_right:10px;
$cta_Text_top:9px;

//BIG LOGO
$logo_width:42px;
$logo_height:23.333px;
$logo_margintop:8.555px;
$logo_left:5.714px;

//GRADIENT
$gradient_height:50px;
$gradient_width :40%;
$gradient_left:107px;

//BACKGROUND
$bg_width:107px;
$bg_height :100%;

//SKYLINE
$skyline_bgsize:219.780px;

//SKYLINE BG
$skylinebg_height:5.555px;