$formW: 970px;
$formH: 250px;

//COPY1
$copy1_Fontsize : 21px;
$copy1_Top : -2.555px;
$copy1_Width : 23%;
$copy1_Left : 210.208px;

//COPY2
$copy2_Fontsize : 21px;
$copy2_Top : -0.555px;
$copy2_Width : 27%;
$copy2_Left : 210.208px;


//COPY3
$copy3_Fontsize:12px;
$copy3_Top:132.888px;
$copy3_Width : 23%;
$copy3_Left:-17.5px;

//FOOTER
$footer_height:63px;
$footer_width:160px;

//CTA
$cta_width:125px;
$cta_height:45px;
$cta_font_size:14px;
$cta_top:95px;
$cta_right:45px;
$cta_Text_top:13px;


//BIG LOGO
$logo_width:100px;
$logo_height:46.666px;
$logo_margintop:80.428px;
$logo_left:50.428px;

//GRADIENT
$gradient_height:100%;
$gradient_width :40%;
$gradient_left:200px;

//BACKGROUND
$bg_width:200px;
$bg_height :100%;

//SKYLINE
$skyline_bgsize:455.78px;
$skyline_width:500px;
$skyline_height:111px;
$skyline_bottom:-28px;

//SKYLINE BG
$skylinebg_height:15.555px;