@import 'var';
@import 'button';
@import 'hamburger';

#banner {
	overflow: hidden;
	width: 160px;
	height: 600px;
	position: relative;

	#content {
		display: none;
		height: 100%;
	    width: 100%;
	}
	.wrapper-logo {
		position: absolute;
		bottom: 0px;
		background-color: white;
		height: 80px;
		z-index: 2;
		width: 100%;
		img {
		    bottom: 10px;
		    left: 50%;
		    margin-right: -50%;
		    transform: translate(-50%, 0%);
		    position: absolute;
		    width: 90%;
		}
	}
	.spinner {
	  margin: 100px auto;
	  width: 40px;
	  height: 40px;
	  position: absolute;
	  text-align: center;
	  
	  -webkit-animation: sk-rotate 2.0s infinite linear;
	  animation: sk-rotate 2.0s infinite linear;
	  top: 15%;
	    left: 34%;
	    margin-right: -50%;
	}

	.dot1, .dot2 {
	  width: 60%;
	  height: 60%;
	  display: inline-block;
	  position: absolute;
	  top: 0;
	  background-color: $orange;
	  border-radius: 100%;
	  
	  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	  animation: sk-bounce 2.0s infinite ease-in-out;
	}

	.dot2 {
	  top: auto;
	  bottom: 0;
	  -webkit-animation-delay: -1.0s;
	  animation-delay: -1.0s;
	}

	@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
	@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

	@-webkit-keyframes sk-bounce {
	  0%, 100% { -webkit-transform: scale(0.0) }
	  50% { -webkit-transform: scale(1.0) }
	}

	@keyframes sk-bounce {
	  0%, 100% { 
	    transform: scale(0.0);
	    -webkit-transform: scale(0.0);
	  } 50% { 
	    transform: scale(1.0);
	    -webkit-transform: scale(1.0);
	  }
	}
}

#scene_one {
	display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    .bg-orange {
    	background-color: #ff6600;
    	display: block;
    	height: 100%;
    	width: 100%;
    	position: absolute;
    	top: 0px;
    	z-index: 0;
    }
    .header-text-one {
		margin: 0px;
		color: white;
		font-size: 21px;
		font-family: $font;
		font-weight: 700;
		padding: 10px;
		position: absolute;
		top: 20px;
		z-index: 1;
	}
	.body-text {
		position: absolute;
		color: white;
		font-size: 21px;
		font-family: $font;
		font-weight: 700;
		top: 30%;
    	left: 10px;
	    z-index: 1;
	}
	.t-rex {
		position: absolute;
	    bottom: 135px;
	    width: 300px;
	    left: -115px;
	    z-index: 1;
	}
}

#scene_two {
	display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    .grrrr {
    	position: absolute;
	    top: 65px;
	    left: 30px;
    }
}

#scene_three {
	display: block;
    height: 100%;
    width: 100%;
    background-color: #ff6600;
    position: absolute;
    top: 0px;
    z-index: 2;
	.header-text-three {
		margin: 0px;
		color: white;
		font-size: 21px;
		font-family: $font;
		font-weight: 700;
		padding: 10px;
		position: absolute;
		top: 20px;
		z-index: 6;
	}
	#button {
		z-index: 6;
	    position: absolute;
	    bottom: 235px;
	    min-height: 40px;
	    min-width: 130px;
	    background-color: $blue;
	    border: none;
	    color: white;
	    text-align: center;
	    text-decoration: none;
	    border-radius: 10px;
	    transition: all 0.3s ease-in;
	    cursor: pointer;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    font-family: $font;
		img {
			height: 15px;
			position: absolute;
		    right: 10px;
		    top: 13px;
		}
	}
	#button:hover {
		background-color: #1d96c9;
	}
	.box {
		width: 305px;
		position: absolute;
		bottom: 105px;
		left: 4px;
		z-index: 0;
		height: auto;
	}
	#bg-exit {
		display: block;
	    height: 100%;
	    width: 100%;
	    position: absolute;
	    top: 0px;
	    cursor: pointer;
	    z-index: 5;
	}
}